.header__container {
  display: flex;
  justify-content: space-between;
}

.header__container__right {
  display: flex;
}

.searchBar__text {
  width: 160px;
  height: 30px;
  margin-top: 0.5rem;
  border-radius: 5px;
  border: 1px solid #fea500;
  text-align: center;
}
.searchBar__text-deactive {
  display: none;
}

.shoppingCart__modal {
  width: 85%;
  height: 200px;
  background-color: #444;
  margin: 2rem auto;
  text-align: center;
  padding-top: 4rem;
  color: #fff;
}

.shoppingCart__modal-deactive {
  display: none;
}

.hamburgerMenu__icon {
  font-size: 22px;
  margin-top: 1rem;
  margin-left: 1rem;
}

.hamburger__menu__content {
  display: flex;
  flex-direction: column;
  background-color: grey;
  height: 100vh;
  width: 80%;
  position: absolute;
}
.hamburger__menu__content__deactive {
  display: none;
}
.hamburger__menu__content a {
  color: #fff;
  text-decoration: none;
  padding-top: 1.5rem;
  text-align: center;
  font-size: 14px;
}
.hamburger__menu__content hr {
  margin-top: 0.5rem;
}

.windowClose__icon {
  margin-left: auto;
  font-size: 24px;
  cursor: pointer;
}

.searchBar__icon,
.user__icon,
.shoppingCart__icon {
  margin-right: 20px;
  font-size: 18px;
  cursor: pointer;
  margin-top: 1rem;
  margin-left: 1rem;
}

.shoppingCart__container {
  position: relative;
}

.shoppingCart__item {
  background-color: #fea500;
  width: 25px;
  height: 25px;
  text-align: center;
  border-radius: 50%;
  font-weight: bolder;
  position: absolute;
  padding-top: 0.1rem;
  top: 0;
  left: 30px;
  bottom: 0;
  right: 0;
}

.logo img {
  display: block;
  max-width: 15%;
  margin: 1rem auto 0;
  cursor: pointer;
}

@media only screen and (min-width: 892px) {
  .logo img {
    max-width: 5%;
  }
}
