.about__us__container h1,
.delivery__container h1,
.privacy__container h1,
.terms__container h1 {
  font-size: 24px;
  font-weight: bold;
  color: #444444;
  text-align: center;
  margin-top: 2rem;
}

.about__us__text,
.delivery__text,
.privacy__text,
.terms__text {
  border: 1px dotted #444444;
  margin-top: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.about__us__text p,
.delivery__text p,
.privacy__text p,
.terms__text p {
  padding: 20px;
  font-size: 16px;
}
