.footer__lists {
  display: flex;
  justify-content: space-around;
}

.footer__lists h3 {
  font-weight: lighter;
}

.footer__lists a {
  text-decoration: none;
  color: #ccc;
  font-size: 12px;
}

.footer__lists a:hover {
  color: #fea500;
}

@media only screen and (max-width: 700px) {
  .footer__container {
    background: #222222;
    color: #ffffff;
    margin-top: 4rem;
  }
  .footer__lists {
    display: flex;
    flex-direction: column;
  }
  .company__info,
  .customer__service,
  .my__account,
  .contact__us,
  .footer__copyright {
    margin: 2rem 0 0 2rem;
  }
  .footer__lists hr {
    width: 95%;
    margin-top: 0.5rem;
    background: #666;
  }

  .footer__lists h3 {
    font-size: 16px;
  }
  .footer__lists ul {
    margin-top: 1rem;
  }

  .footer__lists a {
    font-size: 14px;
  }
  .gmail__hr {
    margin-top: 4rem;
    padding: 1px;
    background: #666;
  }

  .footer__copyright__left {
    font-size: 15px;
  }
  .footer__copyright__left span {
    color: #fea500;
    font-weight: bold;
  }

  .footer__copyright__right img {
    max-width: 100%;
    height: auto;
    margin: 3rem 1rem 0.5rem 3rem;
  }

  .company__info li,
  .customer__service li,
  .my__account li,
  .contact__us li {
    margin-top: 1rem;
    margin-left: 2rem;
  }
}
